.quiz-end{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-bottom: 30vh;
    width: 100%;
}

.quizendbg-container{
    background-color: rgb(10, 10, 64);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding: 10px;
    padding-top: 0px;
}

.celeb{
    width: 100%;
}

.quizend-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    width: 90%;

}

.points-container{
    background-color: green;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.points{
    color: #ffffff;
    font-family: "Poppins";
    font-size: 23px;
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.end-heading{
    color: #ffffff;
    font-family: "Poppins";
    font-size: 30px;

}

.karma-heading{
    color: #ffffff;
    font-family: "Poppins";
    font-size: 20px;
    margin-bottom: 3px;
}

.karma-para{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    margin-bottom: 3px;
}

.result-button{
    background-color:rgb(118, 16, 118);
    padding: 10px;
    border:none;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    align-self: center;
    margin-top: 30px;
    font-size: 18px;
}
