.resultbg{
    background-color: rgb(231, 175, 245);
    height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container{
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
}

.result-heading{
    font-family:"Poppins" ;
    font-size:25px;
    font-weight: bold;
    color:rgb(77, 70, 83);
    margin-bottom: 15px;
}

.scored-text{
    font-family:"Poppins" ;
    font-size:20px;
    font-weight: bold;
    color:green;
    margin-bottom: 0px;
}

.percentage{
    font-family: "Poppins";
    color: rgb(68, 24, 86);
}

.score-time-text{
    font-family:"Poppins" ;
    font-size:23px;
    font-weight: bold;
    color:rgb(77, 70, 83);
    margin-bottom: 0px;
}

.score-time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: "Poppins";
}

.play-button{
    background-color:rgb(118, 16, 118);
    padding: 10px;
    border:none;
    width: 180px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    align-self: center;
    margin-top: 30px;
    font-size: 16px;
}